<!--{% extends 'base.html' %}-->
<!--{% load static %}-->
<!--{% block content %}-->
<!--<div class="hero overlay">-->
<!--    <div class="container register">-->
<!--        <div class="row">-->
<!--            <div class="col-md-3 register-left">-->
<!--                &lt;!&ndash;                        <img src="{% static 'https://image.ibb.co/n7oTvU/logo_white.png' %}" alt=""/>&ndash;&gt;-->

<!--                <h3>Welcome</h3>-->

<!--                <p>You are 30 seconds away from earning your own money!</p>-->
<!--                <a href="{% url 'credentials:logout' %}" class="btn btn-outline-white-reverse me-4">Logout</a><br/>-->
<!--            </div>-->
<!--            <div class="col-md-9 register-right" style="height:78%">-->
<!--                <div class="tab-content" id="myTabContent">-->
<!--                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">-->
<!--                        <h3 class="register-heading">Application Form</h3>-->
<!--                        <form action="demo_application" method="post">-->
<!--                            <div class="register-form">-->
<!--&lt;!&ndash;                                <div class="col-md-12">&ndash;&gt;-->
<!--                                    <div class="form-group">-->
<!--                                        {{form.as_p}}-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                                    <input type="submit" class="btnRegister" value="Submit"/>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--{% endblock %}-->