{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="hero overlay">
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <!--                        <img src="{% static 'https://image.ibb.co/n7oTvU/logo_white.png' %}" alt=""/>-->
                <h3>Welcome</h3>
                <p>You are 30 seconds away from earning your own money!</p>
                <p>Start your financial independent journey with us</p>
<!--                <input type="submit" name="" value="Login"/><br/>-->
            </div>
            <div class="col-md-9 register-right" style="height:65%">
                <form action="register" method="post">
                    {% csrf_token %}
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h3 class="register-heading">Register Here</h3>
                            <div class="row register-form">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="User Name *" value="" name="username"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password *" value="" name="password"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Your Email *" value="" name="email"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Confirm Password *" value="" name="cpass"/>
                                    </div>
                                    <input type="submit" class="btnRegister" value="Register"/>
                                </div>
                                <div class="container" style="padding-top:20px">
                                <div class="row">
                                <div class="col">
                                <div class="field text-center">
                                    {% for msg in messages%}
                                    <div class="alert alert-danger text-center" role="alert" style=" height:50px;">{{msg}}</div>
                                    {% endfor %}
                                </div>
                                </div></div></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}